<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>URL Shortener</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header>
			<h1>URL Shortener</h1>
		</header>
		<main id="app">
			<div class="error" v-if="error">{{ error }}</div>
			<form
				@submit.prevent="create()"
				class="form"
				autocomplete="off"
				v-if="form"
			>
				<input
					class="input"
					type="text"
					placeholder="URL"
					id="url"
					name="url"
					v-model="url"
				/>
				<input
					class="input"
					type="text"
					placeholder="Alias (optional) "
					id="slug"
					name="slug"
					v-model="slug"
				/>
				<button class="submit-btn" type="submit">+</button>
			</form>
			<div class="created" v-if="created">
				<p>
					Link shortened to:
					<a :href="this.created" target="_blank">{{ created }}</a>
				</p>
				<button @click="reset()">go home</button>
			</div>
		</main>
		<footer hidden>
			<p>
				© 2020
				<a href="https://github.com/amaaan2906/url" target="_blank">Aman T</a> |
				All Rights Reserved
			</p>
		</footer>
		<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>
